/* You can add global styles to this file, and also import other style files */
@use './variables';

body {
    background-color: black;
    font-family: variables.$body-font;
    color: white;
}

h2 {
    margin-bottom: .5rem;
}

p {
    margin: .5rem 0;
}

.btn-primary {
    padding: 12px 24px;
    color: white;
    background-color: variables.$primary-color;
    font-weight: 700;
    cursor: pointer;

    &:hover {
        background-color: darken(variables.$primary-color, 5%);;
    }
}

.container {
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 56rem;
    width: 90%;

    @media only screen and (max-width: 767px) {
        max-width: 48rem;
    }
}